@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.banner {
    padding: 20px;
    background-color: white;
}
.search-bar-wrapper, .search-result-wrapper, .nomination-wrapper {
    background-color: #fff;
}

label {
    font-size: 1.6rem;
}

h1 {
    font-family: 'Galada', cursive;
}

.search-bar i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
}

.search-result-image {
    width: 80%;
    height: 250px;
    object-fit: cover;
}