@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.banner {
    text-align: center;
    z-index: 1;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.banner h5 {
    margin: 0;
}
.search-bar-wrapper, .search-result-wrapper, .nomination-wrapper {
    background-color: #fff;
}

label {
    font-size: 1.6rem;
}

h1 {
    font-family: 'Galada', cursive;
}

.search-bar i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
}

.search-result-image {
    width: 80%;
    height: 250px;
    object-fit: cover;
}

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
    0% {opacity:0; bottom: -100px}
    90% {opacity:1; bottom: 5px}
    100% {opacity:1; bottom: 0}
}

@-moz-keyframes fadeIn {
    0% {opacity:0; bottom: -100px}
    90% {opacity:1; bottom: 5px}
    100% {opacity:1; bottom: 0}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0; bottom: -100px}
    90% {opacity:1; bottom: 5px}
    100% {opacity:1; bottom: 0}
}

@-o-keyframes fadeIn {
    0% {opacity:0; bottom: -100px}
    90% {opacity:1; bottom: 5px}
    100% {opacity:1; bottom: 0}
}

@-ms-keyframes fadeIn {
    0% {opacity:0; bottom: -100px}
    90% {opacity:1; bottom: 5px}
    100% {opacity:1; bottom: 0}
}